<div class="card mt-2">
    <div class="card-header text-center bg-primary text-white">
         <h3>
            Listado de productos
         </h3>
        
    </div>
    <div class="card-body">
        <button class="btn btn-success mb-2" routerLink="/admin/products/create">
            + Agregar Producto
         </button>
        <table class="table table-bordered table-borderless">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Stock</th>
                    <th>Precio de Venta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of listProductos">
                    <td>{{producto.codigo}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.id_categoria}}</td>
                    <td>{{producto.stock}}</td>
                    <td class="text-end">S/. {{producto.precio_venta}}</td>
                    <td>
                        <a class="btn btn-sm btn-primary m-1" routerLink="/admin/products/{{producto.id_producto}}">
                            Ver
                        </a>
                        <a class="btn btn-sm btn-success m-1" routerLink="/admin/products/ingreso/{{producto.id_producto}}">
                            Ingreso
                        </a>
                        <a class="btn btn-sm btn-danger m-1" routerLink="/admin/products/salida/{{producto.id_producto}}">
                            Salida
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>