<div class="card mt-2">
    <div class="card-header text-center bg-primary text-white">
         <h3>
            Registrar Salida de Producto 
         </h3>
        
    </div>
    <div class="card-body">
        <button class="btn btn-secondary mb-2" routerLink="/admin/products">
            Listado Producto
        </button>
        <app-producto-detail [producto]="producto"></app-producto-detail>

        <form [formGroup]="formSalida" (submit)="saveSalida()">

            <div class="form-group my-2">
                <label for="cantidad">Cantidad</label>
                <input type="number" class="form-control" formControlName="cantidad" id="cantidad">
            </div>
            <div class="form-group my-2">
                <label for="precio_venta">Precio de Venta Unitario</label>
                
                <div class="input-group mb-3">
                    <span class="input-group-text">S/. </span>
                    <input type="number" class="form-control" formControlName="precio_venta" id="precio_venta" placeholder="0.0">
                </div>
            </div>
            <div class="text-end fw-bold">
                <span> Subtotal: S/. {{ formSalida.get('cantidad')?.value * formSalida.get('precio_venta')?.value }}</span>
 
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Grabar Salida</button>
        </form>
    </div>
</div>