<div class="card mt-2">
    <div class="card-header text-center bg-primary text-white">
         <h3>
            Producto 
         </h3>
        
    </div>
    <div class="card-body">
        <button class="btn btn-secondary mb-2" routerLink="/admin/products">
            Listado Producto
        </button>

        <br>
        <app-producto-detail [producto]="producto"></app-producto-detail>
        
        <h3>Movimientos del producto</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Operacion</th>
                    <th>Cantidad</th>
                    <th>Precio Compra</th>
                    <th>Precio Venta</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movement of movimientos">
                    <td>{{ movement.idHistorial}}</td>
                    <td>
                        <span class="badge bg-success" *ngIf="movement.id_operacion==1">
                            Ingreso
                        </span>
                        <span class="badge bg-danger" *ngIf="movement.id_operacion==2">
                            Salida
                        </span>
                    </td>
                    <td>{{ movement.cantidad  }}</td>
                    <td class="text-end">S/. {{ movement.precio_compra }}</td>
                    <td class="text-end">S/. {{ movement.precio_venta  }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>