<div class="h-100 d-flex justify-content-center align-items-center bg-login">
    <div class="card">
        
        <div class="card-body p-5">
            <div class="card-title text-center">
                <h3>Iniciar Sesion</h3>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group my-2">
                    <label for="email">Usuario</label>
                    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Usuario">
                    
                </div>
                <div class="form-group my-2">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
                   
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-success ">Ingresar</button>
                </div>
                
            </form>
        </div>
    </div>
</div>